<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Daredevil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Daredevil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Real Name: Matthew Murdock<br />
        Known Aliases: Jack Batlin, DD, Nameless One <br />
        Identity: Publicly revealed, but not confirmed <br />
        Occupation: He's a really good lawyer<br />
        Group Affiliation: Former member of the Marvel Knights, former partner
        of Black Widow<br />
        First Appearance: Daredevil Vol 1 #1 (1964)
      </p>
      <br />
    </ion-card-content>
    <img src="https://i.gifer.com/WHOv.gif" alt="" />
    <ion-card-content>
      <p>
        Original Film Title: DAREDEVIL. English Title: DAREDEVIL. Film Director:
        PHIL ABRAHAM; PETER HOAR. Year: 2015. Credit: ABC STUDIOS / Album
      </p>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-row class="ion-align-items-center">
    <ion-button href="/home" color="primary"> Home </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-button href="/toc" color="warning"> Table of Contents </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-button href="/elektra" color="danger"> Elektra </ion-button>
  </ion-row>
</ion-content>
