<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Elektra </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Elektra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Real Name: Elektra Natchios<br />
        Known Aliases: Little Amber, Epsilon, Perfect Death <br />
        Identity: Existence unknown to the public at large <br />
        Occupation: Mercenary and Assassin<br />
        Group Affiliation:Former member of the Hand
        <br />
        First Appearance: Daredevil Vol. 1 #168 (1981)
      </p>
      <br />
    </ion-card-content>
    <img src="https://i.gifer.com/IQ8d.gif" alt="" />
    <ion-card-content>
      <p>Copyright @ Marvel Characters, Inc.</p>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-row class="ion-align-items-center">
    <ion-button href="/home" color="primary"> Home </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-button href="/toc" color="warning"> Table of Contents </ion-button>
  </ion-row>
</ion-content>
