<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Bullseye </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bullseye</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Real Name: Lester (last name unrevealed)<br />
        Known Aliases: Benjamin Pondexter <br />
        Identity: Secret <br />
        Occupation: Assassin, professional thief, former baseball pitcher,
        mercenary, extortionist.<br />
        Group Affiliation: Formerly allied with Eric Slaughter's and the King
        Pin's organizations, as well as the King Pin's former agents.<br />
        First Appearance: Daredevil Vol 1 #131 (1976)
      </p>
      <br />
    </ion-card-content>
    <img
      src="https://i.pinimg.com/originals/09/1c/fc/091cfc6252497fe521aa7d968ff32ba7.gif"
      alt=""
    />
    <ion-card-content>
      <p>Copyright @ Marvel Characters, Inc.</p>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-row class="ion-align-items-center">
    <ion-button href="/home" color="primary"> Home </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-button href="/toc" color="warning"> Table of Contents </ion-button>
    &nbsp;&nbsp;&nbsp;
    <ion-button href="/daredevil" color="danger"> Daredevil </ion-button>
  </ion-row>
</ion-content>
