<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img
      src="https://img1.picmix.com/output/pic/normal/1/7/2/8/9708271_7b90e.gif"
      alt=""
      class="ion-margin-top"
    />
    <ion-card-content>
      <p>Copyright @ Marvel Characters, Inc.</p>
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle
        >The Official Handbook of the MARVEL UNIVERSE</ion-card-subtitle
      >
      <ion-card class="welcome-card">
        <ion-card-title class="daredevil">Daredevil 2004</ion-card-title>
      </ion-card>
    </ion-card-header>
  </ion-card>
  <ion-row class="ion-align-items-center">
    <ion-item href="/toc">
      <img src="https://c.tenor.com/OmJliXQNVwEAAAAM/enter.gif" alt="" />
    </ion-item>
  </ion-row>
  <br />

  <ion-card-content>
    <p>
      Adapted from The Official Handbook of the Marvel Universe Daredevil 2004,
      by Christiansen, Byrd, Hoskin, et al, 2004, New York, NY: Marvel
      Entertainment Group. Copyright 2004 @ Marvel Characters, Inc.
    </p>
  </ion-card-content>
</ion-content>
